.todolist h2 {
    margin-left: 60px;
}

.input {
    width: 200px;
    border: 2px solid #8a8383;
    border-radius: 4px;
    margin-left: 20px;
    outline: none;
    padding: 4px;
    box-sizing: border-box;
    transition: .3s;
}

.input:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 10px 0 dodgerBlue;
}

.addButton {
    display: inline-block;
    color: rgba(255, 255, 255, .9);
    border: 1px solid #3192e3;
    border-radius: 6px;
    outline: none;
    height: 28px;
    width: 28px;
    background: #3192e3;
}

.addButton:hover {
    border-color: dodgerBlue;
    box-shadow: 0 0 10px 0 dodgerBlue;
}

.error {
    margin-left: 10px;
    color: red;
}